.parent1 {

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5vh;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-content: center;
}
/* General Styles */

.parent1 h1,
.parent1 p {
  margin: 0 auto;
}

.parent1 button,
.data-upload button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.parent1 button:hover,
.data-upload button:hover {
  background-color: #0056b3;
}



.parent1 th,
.parent1 td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}



.parent1 tr:nth-child(even),
.parent1 tr:hover {
  background-color: #f2f2f2;
}

/* Form Styles */
.form,
.data-upload {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 800px;
}

.data-upload {
  max-width: 400px;
}

.data-upload input,
.data-upload textarea {
  padding: 0.5rem;
  font-size: 1rem;
}


/* General Styles */

/* Ajuste para centrar las columnas */
.col1 {
  grid-column: 1 / span 2; /* Se inicia en la columna 3 y ocupa 2 columnas */
  grid-row: 1; /* Se ubica en la primera fila */
}

.col2 {
  grid-column: 3 / span 4; /* Se inicia en la columna 5 y ocupa 2 columnas */
  grid-row: 1;
}

/* Ajuste general de las columnas */
.col1, .col2 {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button {
  margin: 2vh;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.carousel-item {
  gap: 16px;
  flex: 0 0 auto;
  width: 120px;
  height: 140px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .parent1 {
    grid-template-columns: 1fr; /* Cambia a una sola columna en móviles */
  }

  .col1, .col2 {
    grid-column: 1 / span 1; /* Ambas ocupan todo el ancho */
  }
}
